*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.link-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    height: 35px;
    width: 100%;
    background-color: rgba(226, 247, 255, 0.666);
}
.link-container a{
    text-decoration: none;
    margin: 7px 0px 0px 0px;
    color: black;
    font-size: 14px;
    font-weight: 495;
}
.img-container{
    display: flex;
    /* border: 2px solid red; */
}
.img-container img{
    height: 60px ;
    padding-left: 22px;
    padding-right: 74px;
    
}
.navbar{
    display: flex;
  /* border: 2px solid blue; */
  margin-left: 154px;
  width: 982px;
  
}
.navbar a{
        display: flex;
    margin: 16px 0px 0px 0px;
    /* min-width: 119px; */
    /* justify-content: space-between; */
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5rem;
    padding-left:50px;
    color: black;
    transition: 0.2s ease-in-out all;
}
.navbar  :hover{
    text-decoration: underline 2px solid rgb(220, 161, 12);
}
.Button-container{
    display: flex;
    /* border: 2px solid red; */
    width: 250px ;

}
.Button-container a{
    justify-content: space-around;
    min-width: 70px;
    align-items: center;
    padding: 18px 0px 23px 60px;

}
#search{
    font-size: 20px;
    color: black;
    

}
.img-banner img{
    height: 797px;
    width: 1513px;
}
.atomic-x{
    align-items: center;
    text-align: center;
    justify-content: center;
}
h2{
    font-size:14px;
    margin: 35px 0px 2px 0px;
    font-weight: 480;
    cursor: pointer;
}
h1{
    font-size: 54px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    cursor: pointer;
}
.King {
    margin: 12px 0px;
    letter-spacing: 1px;
    cursor: pointer;
}
button{
    border: none;
    border-radius: 35px;
    font-size: 1rem;
    line-height: 1.65rem;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 12px 0px 80px 0px ;
    box-shadow: 6px 2px 8px rgba(121, 118, 118, 0.2);

}

.get{
    height: 45px;
    width: 163px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor:pointer;

}
.get:hover{
    transition: 0.2s ease-in-out all;
    /* background-color: rgb(254, 222, 254); */
      background: linear-gradient(to right, #D8BFD8, #FAD6A5);

}
.fusion{
    margin: 0px 0px 0px 10px ;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size:23px;
    font-weight: 700;
    cursor: pointer;
}
.arrow{
    display: flex;
    justify-content: space-around;
    margin-left: 91%;
    margin-right: 17px; 
}
#left:hover{
    transition: 0.3s ease-in-out all;
    background-color: white;
}
#right:hover{
    transition: 0.3s ease-in-out all;
    background-color: white;
}

#left{
    /* box-shadow: inset 0px 2px 6px rgba(179, 172, 172, 0.2); */
        background-color: rgba(187, 172, 172, 0.319);

    border-radius: 20px;
    height: 40px;
    width: 40px ;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
#right{
    /* border: 2px solid grey; */
    /* box-shadow: inset 0px 2px 6px rgba(179, 172, 172, 0.2); */
    background-color: rgba(187, 172, 172, 0.319);
    border-radius: 20px;
    height: 40px;
    width: 40px ;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}
.racket-section{
    display: flex;
    text-decoration: none;
    

}
a{
    text-decoration: none;
}
.racket-section img{
    text-decoration: none;
    margin: 15px 4px 0px 10px ;
     height: 485px ;
    width: 485px;
    /* border: 2px red solid ; */
    /* box-shadow: insert 5px 5px 15px rgba(0, 0, 0, 0.3); */
    box-shadow: inset 0px 2px 6px rgba(179, 172, 172, 0.2);
   
}
section .detail{
    text-decoration: none;
   
}
.detail  {
    text-decoration: none;
    color: black;
    padding-left: 28px;
     font-size: 16px;
    font-weight: 500;
}
#price{
    font-size: 14px;
    font-weight: 490;
}
#weight{
    font-size: 14px;
    font-weight: 490;
    color: rgb(95, 83, 83);
}
.shoes-banner{
        margin: 138px 0px 0px 0px ;

}
.shoes-banner img{
    height: 797px;
    width: 1513px;
}
.speed{
    height: 45px;
    width: 219px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.speed:hover{
    transition: 0.3s ease-in-out all;
    /* background-color: rgb(255, 241, 222); */
      background: linear-gradient(to right, #D8BFD8, #FAD6A5);

}
#Text{
    margin: 142px 0px 0px 0px ;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 14px;
    
}
.three{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    /* padding: 14px 80px 0px 204px; */
    max-width: 571px;
    /* border: 2px solid red; */
}
.three img{
    
    height: 145px;
    width: 145px;
    align-items: center;
    text-align: center;
   
}
.shop{
    color: black;
    text-align: center;
    font-size: 15px;

}
.shop:hover{
    transition: 0.3s ease-in-out all;
    color: blueviolet;
}
.pickleball-banner{
    margin: 70px 0px 0px 0px ;
}
.pickleball-banner img{
    height: 306px;
    width: 1513px;
}
.cricket-banner{
    margin: 135px 0px 0px 0px ;
}
.cricket-banner img{
    height:796px ;
    width: 1513px;
}
.questions{
    font-family: sans-serif;
    margin: 90px 0px 0px 0px;
    /* border: 2px solid red; */
    background-color: black;
    height: 380px;
    text-align: center;
    
}
.have{
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 100px 0px 0px 0px ;
}
.questions a{
    font-size: 16px;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 4px 0px 0px  0px ;
    /* border: 2px solid blue; */
    /* height: 90px ; */
}
.questions a:hover{
    transition: 0.3s all ease-in-out;
    color:rgb(162, 80, 238);
}
#number{
    color: white;
    font-size: 34px;
    cursor: pointer;
    font-weight: 700;
    
}
#number:hover{
    transition: 0.3s all ease-in-out;
    color: rgb(159, 61, 250);
}
.contact-link button{
    color:white;
    height: 61px;
    width: 165px;
    background-color: black;
    border: 2px solid white;
    padding: 10px 32px;
    margin: 15px;
    cursor: pointer;
}
.contact-link button:hover{
    transition: 0.8s all ease-in-out;
    background-color: white;
    color: rgb(159, 61, 250);
}

#two{
    color:white;
    height: 61px;
    width: 224px;
    background-color: black;
    border: 2px solid white;
    padding: 10px 32px;
    /* margin: 15px; */
    cursor: pointer;

}
#two:hover{
    transition: 0.8s all ease-in-out;
    background-color: white;
    color: rgb(159, 61, 250);
}

.fa-regular{
    padding: 4px 15px 0px 0px;
    justify-content: center;
}
.fa-brands{
    padding: 4px 15px 0px 0px;
    justify-content: center;
}
.footer-img img{
    height: 190px;
    margin-top: 30px;
}
.support-banner{
    /* border: 2px solid red; */
    /* height: 550px ;
    width: 250px ; */
    margin-left: 270px;
    margin-top: -14%;
}
.support{
    /* text-align: center; */
    display: flex;
    padding: 34px 0px 8px 90px;
    font-weight: 600;
    cursor: pointer;
}
.support:hover{
    transition: 0.3s all ease-in-out;
    color: rgb(159, 61, 250);

}
.support-banner a{
    display: flex;
    /* text-align: center;
    justify-content: center; */
    padding: 10px 0px 10px 90px;
    transition: 0.3s all ease-in-out;
    color: #121212D9;
    font-size: 15.5px;

}
.support-banner a:hover{
    text-decoration: 1px underline black;
}
.quick-links{
    margin-left: 34%;
    margin-top: -25.8%;
}
.quick{
    /* text-align: center; */
    display: flex;
    padding: 34px 0px 8px 90px;
    font-weight: 600;
    cursor: pointer;
}
.quick:hover{
    transition: 0.3s all ease-in-out;
    color: rgb(159, 61, 250);

}
.quick-links a{
    display: flex;
    /* text-align: center;
    justify-content: center; */
    padding: 10px 0px 10px 93px;
    transition: 0.3s all ease-in-out;
    color: #121212D9;
    font-size: 15.5px;

}
.quick-links a:hover{
    text-decoration: 1px underline black;
}
.payment-method{
    margin-left: 48%;
    margin-top: -12.4%;
}
.payment{
    /* text-align: center; */
    display: flex;
    padding: 34px 0px 8px 90px;
    font-weight: 600;
    cursor: pointer;
}
.payment:hover{
    transition: 0.3s all ease-in-out;
    color: rgb(159, 61, 250);

}
.payment-method a{
    display: flex;
    /* text-align: center;
    justify-content: center; */
    padding: 10px 0px 10px 93px;
    transition: 0.3s all ease-in-out;
    color: #121212D9;
    font-size: 15.5px;

}
.payment-method a:hover{
    text-decoration: 1px underline black;
}
.stalk-us{
    margin-left: 69%;
    margin-top: -14.8%;

}
.stalk{
    /* text-align: center; */
    display: flex;
    padding: 34px 0px 8px 90px;
    font-weight: 600;
    cursor: pointer;
}
.stalk:hover{
    transition: 0.3s all ease-in-out;
    color: rgb(159, 61, 250);

}
.icon-stalk{
    /* border: 2px solid red;
    height: 50px; */
    display: flex;
    max-width: 140px;
    justify-content: space-between;
    margin:10px 0px 0px 75px;
}
.icon-stalk a{
    color: black;
}
.copyright{
    margin: 45px 0px 10px 0px;
   justify-content: center;
   text-align: center;
   cursor: pointer;
}
.copyright p:hover{
    transition: 0.3s all ease-in-out;
    color: rgb(159, 61, 250);

}
.address{
   text-align: center;
   margin-bottom: 75px;

}